version: '3.8'

services:
  app:
    build: . 
    ports:
      - "3000:3000" 
    environment:
      - DB_HOST=db     
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=node_app_db
      - PORT=3000
    depends_on:
      - db
    restart: always

  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: node_app_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db 
      UPLOAD_LIMIT: 64M
    depends_on:
      - db

volumes:
  db_data: